<nav class="app-header navbar navbar-expand bg-body">
    <div class="container-fluid">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" id="sidebarToggle" role="button">
            <i class="fas fa-bars"></i>
          </a>
        </li>
      </ul>
  
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <button class="btn btn-danger" (click)="logout()">
            <i class="fas fa-sign-out-alt"></i> Logout
          </button>
        </li>
      </ul>
    </div>
  </nav>
  