<div class="banner">
    HÌNH ẢNH KHÁCH HÀNG VÀ CÁC HOẠT ĐỘNG TẠI LAPTOPLC
</div>

<div class="container">
    <div class="gallery">
        <img src="assets/images/image1.jpg" alt="Ảnh 1">
        <img src="assets/images/image2.jpg" alt="Ảnh 2">
        <img src="assets/images/image3.jpg" alt="Ảnh 3">
        <img src="assets/images/image4.jpg" alt="Ảnh 4">
        <img src="assets/images/image5.jpg" alt="Ảnh 5">
        <img src="assets/images/image6.jpg" alt="Ảnh 6">
        <img src="assets/images/image7.jpg" alt="Ảnh 7">
        <img src="assets/images/image8.jpg" alt="Ảnh 8">
    </div>
</div>

<section class="video-section container mt-5">
    <h2 class="section-title">VIDEO LAPTOP</h2>
    <div class="row">
      <div class="col-md-8">
        <div class="video-main">
          <iframe width="100%" height="500" src="https://www.youtube.com/embed/VTZZTyUlEho?si=QopbWs_w0XUCTMm-" frameborder="0" allowfullscreen></iframe>
        </div>
      </div>
      <div class="col-md-4">
        <div class="video-list">
          <div class="video-item">
            <iframe width="100%" height="150" src="https://www.youtube.com/embed/QPgStas06gw?si=FNQrDtAgSxNtGyw7" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="video-item">
            <iframe width="100%" height="150" src="https://www.youtube.com/embed/nAJunBkK5Nw?si=A80qG-7UgNev5t0X" frameborder="0" allowfullscreen></iframe>
          </div>
          <div class="video-item">
            <iframe width="100%" height="150" src="https://www.youtube.com/embed/dC4W72Lo3c4?si=tCOeYPt-q_HPWw5j" frameborder="0" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

