<div class="product-grid">
    <div class="product-card" *ngFor="let product of products">
      <div class="discount-badge" *ngIf="product?.discountPrice !== undefined && product?.discountPrice! > 0">
        -{{ ((product.price - product.discountPrice) / product.price * 100) | number:'1.0-0' }}%
      </div>
  
      <a [routerLink]="['/products', product?.id]">
        <img [src]="product.imageUrl" [alt]="product?.name">
        
        <div class="product-info">
          <div class="discount-price" *ngIf="product?.discountPrice">
            {{ product?.discountPrice | number }} đ
          </div>
    
          <div class="product-name">{{ product?.name }}</div>
          <div class="price" [class.line-through]="product?.discountPrice">
            {{ product?.price | number }} đ
          </div>
        </div>
      </a>
    </div>
  </div>
  