<nav class="app-sidebar bg-body-secondary shadow" data-bs-theme="dark">
    <div class="sidebar-brand">
      <a routerLink="/admin" class="brand-link">
        <img
          src="assets/images/logo.jpg"
          alt="AdminLTE Logo"
          class="brand-image opacity-75 shadow"
        />
        <span class="brand-text fw-light">Laptoplc</span>
      </a>
    </div>
    <div class="sidebar-wrapper">
      <nav class="mt-2">
        <ul
          class="nav sidebar-menu flex-column"
          data-lte-toggle="treeview"
          role="menu"
          data-accordion="false"
        >
          <li class="nav-item">
            <a routerLink="/admin/dashboard" class="nav-link">
              <i class="nav-icon bi bi-palette"></i>
              <p>Dashboard</p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/products" class="nav-link">
              <i class="nav-icon bi bi-box-seam-fill"></i>
              <p>
                Products
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
          </li>
          <li class="nav-item">
            <a routerLink="/admin/orders" class="nav-link">
              <i class="nav-icon bi bi-clipboard-fill"></i>
              <p>
                Orders
                <span class="nav-badge badge text-bg-secondary me-3">6</span>
                <i class="nav-arrow bi bi-chevron-right"></i>
              </p>
            </a>
          </li>
            <a routerLink="/admin/users" class="nav-link">
              <i class="nav-icon bi bi-star-half"></i>
              <p>Users</p>
            </a>
        </ul>
      </nav>
    </div>
  </nav>