<div class="container mt-4" *ngIf="news">
    <div class="card shadow-lg border-0">
        <img [src]="news.image_url" class="card-img-top rounded" alt="news image">
        <div class="card-body">
            <h2 class="fw-bold text-danger text-center">{{ news.title }}</h2>
            <p class="text-muted text-center">Đăng bởi {{ news.author }} - {{ news.created_at | date:'dd/MM/yyyy' }}</p>
            <p class="fs-5">{{ news.content }}</p>
            <div class="text-center mt-4">
                <a routerLink="/news" class="btn btn-danger">Quay lại</a>
            </div>
        </div>
    </div>
</div>